In [1]:
import pandas as pd

In [13]:
list_df = pd.read_csv("C:\\Users\\garya\\ML projects\\Stock analysis\\datasets\\moneyControlListWithSymbols.csv")

In [14]:
list_df = list_df[['nsesymbol', 'URL']]

In [15]:
list_df = list_df.dropna()

In [16]:
list_df

       nsesymbol                                                URL
1        AMJUMBO  https://www.moneycontrol.com/india/stockpriceq...
2        ABINFRA  https://www.moneycontrol.com/india/stockpriceq...
8       A2ZINFRA  https://www.moneycontrol.com/india/stockpriceq...
10       AAATECH  https://www.moneycontrol.com/india/stockpriceq...
14        AAKASH  https://www.moneycontrol.com/india/stockpriceq...
...          ...                                                ...
5752    SGBNOV26  https://www.moneycontrol.com/india/stockpriceq...
5753    SGBOCT25  https://www.moneycontrol.com/india/stockpriceq...
5754  SGBOCT25IV  https://www.moneycontrol.com/india/stockpriceq...
5755   SGBOCT25V  https://www.moneycontrol.com/india/stockpriceq...
5756    SGBOCT26  https://www.moneycontrol.com/india/stockpriceq...

[2893 rows x 2 columns]

In [24]:
frames = []
for i in range(len(list_df)):
    data =  {
        'SYMBOL' : list_df['nsesymbol'].iloc[i],
        'SECTOR' : list_df['URL'].iloc[i].split('/')[5]
    }
    temp_df = pd.DataFrame(data, index=[1])
    frames.append(temp_df)

In [ ]:
final_df = pd.concat(frames, ignore_index=True)