In [1]:
import pandas as pd

In [9]:
dates = pd.read_csv('C:\\Users\\garya\\stock market telegram\\dates.csv')

In [10]:
print(dates)

             Date
0     12-Apr-2017
1     13-Apr-2017
2     14-Apr-2017
3     15-Apr-2017
4     16-Apr-2017
...           ...
2488   3-Feb-2024
2489   4-Feb-2024
2490   5-Feb-2024
2491   6-Feb-2024
2492   7-Feb-2024

[2493 rows x 1 columns]

In [31]:
data = []
for date in dates['Date']:
    s = str(date)
    ans = ""
    mon = ""
    yr = ""
    flag = False
    if(s[1] == '-'):
        ans += '0'
    for c in s:
        if(c == '-'):
            continue
        if((c >= 'a' and c<='z') or (c >= 'A' and c<='Z') ):
            ans += c.upper()
            mon += c.upper()
            flag = True
        else:
            if flag:
                yr += c
            ans += c
    temp = [ans, mon, yr]
    data.append(temp)

In [32]:
df = pd.DataFrame(data, columns=['Date', 'Month', 'Year'])

In [33]:
print(df)

           Date Month  Year
0     12APR2017   APR  2017
1     13APR2017   APR  2017
2     14APR2017   APR  2017
3     15APR2017   APR  2017
4     16APR2017   APR  2017
...         ...   ...   ...
2488  03FEB2024   FEB  2024
2489  04FEB2024   FEB  2024
2490  05FEB2024   FEB  2024
2491  06FEB2024   FEB  2024
2492  07FEB2024   FEB  2024

[2493 rows x 3 columns]

In [34]:
df.to_excel(, index=False)